@model IEnumerable<InterfazMVC.Models.Mensaje>

    <!DOCTYPE html>
    <html>
    <head>
        <title>Chat</title>
        <link href="~/css/Colorbuscar.css" rel="stylesheet" />
    </head>
    <body bgcolor="#C0C0C0">
        <h1>Este es tu chat</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            <div>
                                @{


                                    if (ViewBag.buscarMensaje != null&& item.cadena.Contains(ViewBag.buscarMensaje))
                                    {
                                         <div class="colorfondo">
                                             @Html.DisplayFor(modelItem => item.cadena);
                                         </div>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.cadena);
                                    }
                                    string[] validador = item.cadena.Split(':');
                                    if (validador.Length > 2)
                                    {
                                        if (validador[1] == "url")
                                        {
                                            @Html.ActionLink("Descargar", "devolverArchivo", new { id = item.cadena })
                                        }
                                    }
                                }

                                <br />
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <form method="post">
            <input type="text" name="_mensaje" id="_mensaje" />
            <input type="submit" name="enviar" value="enviar" />
        </form>
        <form action="/Chat/ChatArchivo" method="post" enctype="multipart/form-data">
            <input type="file" name="archivo" value="archivo" id="archivo" />
            <input type="submit" name="enviar" value="enviar" />
        </form>
        <form action="/Chat/Buscar" method="get">
            <input type="text" name="_mensaje" id="_mensaje" />
            <input type="submit" name="buscar" value="buscar" />
        </form>
    </body>
</html>
