@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>CHAT METABOOK</title>
</head>
<body bgcolor ="#C0C0C0">
    <center><IMG SRC="bienvenida.png"></IMG>
   
    <br/>
    <h1>Si no tienes una cuenta haz clic en "Registrese" </h1>
    <h2><b><a href="/Registro">Registrese</a></b></h2></center>
    <form method="post">
        <center><h1>Si tienes una cuenta ingresa tus datos para iniciar sesion</h1>
        <label for="usuario">Usuario       :</label>
        <input type="text" name="usuario" id="usuario" />
        <br />
        <label for="contrasenia">Contraseña:</label>
        <input type="password" name="contrasenia" id="contrasenia" />
        <br />
        <input type="submit" name="enviar" value="Iniciar Sesion" /></center>
    </form>
    <div>@ViewBag.error</div>
</body>
</html>
