@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>CHAT METABOOK</title>
</head>
<body bgcolor="#C0C0C0">
    <center><img src="DatosRegistro.png" width="1000" height="300"></center>
    

    <form method="post">


        <center>
            <label for="usuario">Ingresa tu Usuario   </label>
            <input type="text" name="usuario" id="usuario" />
        </center>
        <br />
        <center>
            <label for="contrasenia">Ingresa tu contraseña</label>
            <input type="password" name="contrasenia" id="contrasenia" />
        </center>
        <br />
        <center>
            <label for="correo">Ingresa tu correo   </label>
            <input type="text" name="correo" id="correo" />
        </center>
        <br />
        <center>
            <label for="nombre">Ingresa tu nombre    </label>
            <input type="text" name="nombre" id="nombre" />
        </center>
        <br />
        <center>
            <label for="apellido">Ingresa tu apellido   </label>
            <input type="text" name="apellido" id="apellido" />
        </center>
        <br />
        <center><input type="submit" name="enviar" value="registrarse" /></center>
    </form>

    <div>@ViewBag.error</div>

</body>
</html>