@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<InterfazMVC.Models.Contacto>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Bienvenido @ViewBag.Usuario</h1>
    <h2>@ViewBag.Mensaje</h2>
    <nav>
        <ul>
            <li><a href="/Usuario/AgregarContacto"> Agregar Contacto</a></li>
            <li><a href="/Usuario/VerSolicitudes"> Ver Solicitudes</a></li>
        </ul>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <h3>Estos son tus contactos</h3>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.miusuario)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>