@model IEnumerable<InterfazMVC.Models.SolicitudContacto>

@{
    ViewData["Title"] = "VerSolicitudes";
}
<body bgcolor="#C0C0C0">
<h1>Estas son tus solicitudes de amistad</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emisor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emisor)
            </td>
            <td>
                @Html.ActionLink("Aceptar", "AceptarSolicitud", new { id = item.Emisor, valor = "aceptar" }) |
                @Html.ActionLink("No aceptar", "AceptarSolicitud", new { id = item.Emisor, valor = "no aceptar" })
               
            </td>
        </tr>
}
    </tbody>
</table>
</body>